{{define "content"}}
<h1>{{.Title}}</h1>
{{range .Posts}}
<div class="post">
    <a href="/note/{{.Slug}}" class="post-link">
        <div class="post-header">
            <h2 class="post-title">{{.Title}}</h2>
            <span class="post-date">{{.Date.Format "Jan 2, 2006"}}</span>
        </div>

        <div class="post-content-preview">
            {{truncate .Content}}
        </div>

        <div class="post-labels">
            {{range .Labels}}
            <span class="label"># {{.}}</span>
            {{end}}
        </div>
    </a>
</div>
{{else}}
<p>No posts yet! Create one.</p>
{{end}}
{{end}}